* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f2f2f2;
    height: 2000px;
    background: rgb(242,242,242);
    background: -moz-linear-gradient(150deg, rgba(242,242,242,1) 0%, rgba(132,191,164,0.5662640056022409) 100%);
    background: -webkit-linear-gradient(150deg, rgba(242,242,242,1) 0%, rgba(132,191,164,0.5662640056022409) 100%);
    background: linear-gradient(150deg, rgba(242,242,242,1) 0%, rgba(132,191,164,0.5662640056022409) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#f2f2f2",endColorstr="#84bfa4",GradientType=1);
    height: 100%;
}

section {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* CSS Styling for Nav */

nav { 
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.logo {
    color: #84bfa4;
}

li > a,
h3 {
    color: #262626;
    cursor: pointer;
    text-decoration: none;
    padding: 5px;
    font-size: 1.618rem;
}

li > a:hover {
    background-color: #84bfa4;
}

nav > ul {
    display: flex;
    list-style-type: none;
}

/* CSS Styling for Hero */

.hero {
    display: flex;
    margin: 100px auto 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 24px;
}


.hero h1 {
    font-size: 4.854rem;
}

h2 > a {
    font-size: 3.236rem;
    display: block;
    text-decoration: none;
    border-radius: 15px;
    padding: 15px;
    background: #84bfa4;
    color: white;
    font-weight: 300;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.buttonsAndIcons {
    display: flex;
    align-items: center;
    max-width: 600px;
    width: 100%;
    justify-content: space-around;
}


i {
    font-size: 3.236rem;
}

h2 > a:hover {
    background-color: #262626;
}

a:visited {
    ;
}

.hero > p {
    max-width: 1100px;
    margin-top: 20px;
    font-weight: 300;
}

/* CSS for tech stack section */

.techStack {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.techStack h2,
.projects h2 {
    font-size: 3.236em;
    color: #262626;
    text-shadow: 3px 3px 5px #84bfa4;
}

.tech-logos-container {
    display: flex;
}

.tech-logos-container > img {
    height: auto;
    width: 100%;
    max-width: 75px;
    margin: 15px;
}

/* CSS for projects section */

.projects {
    text-align: center;
    margin: 0 auto 20px;
    padding: 0 25px;
}

.projects-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.projects-container h3 {
    font-size: 1.618rem;
    text-shadow: 1px 1px 3px #84bfa4;
    color: #f2f2f2;
}

.projectDescription {
    max-width: 600px;
    height: auto;
    margin-top: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 15px;
    border-radius: 15px;
    background-color: #262626;
    color: #f2f2f2;
}

.project-capture {
    max-width: 600px;
    width: 100%;
    height: auto;
    border-radius: 15px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Media Queries */

@media screen and (max-width: 500px) {
    html {
        font-size: 10px;
    }
    
    .tech-logos-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .projects-container {
        display: flex;
        flex-direction: column;
    }

    .project-capture {
        margin-top: 10px;
    }
}